/* CreateExpense.css */
.create-expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: auto;
    background-color: #DC7F9B;
    padding: 20px;
    border-radius: 8px;
    color: white;
  }
  
  .create-expense-form label {
    font-weight: bold;
  }
  
  .create-expense-form input, .create-expense-form select {
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  